<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comment on the News</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/jscookie.js"></script>
  <script src="/js/app.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Rokkitt|Titillium+Web" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/styles.css" media="screen" title="main styles for app">
</head>
<body>
    <div class="container">

    <h1>Comment on the News</h1>
    
    <!--navigation when logged out-->
    <div class="loginBlock topNav">
      <h2>Log In</h2>
      <p>Choose a username to save articles and post comments. (no password required)</p>
      <form id="login" method="POST" action="/create/user">
        Username:*<br>
        <input type="text" name="username" size="30"><br>
        Email address:*<br>
        <input type="text" name="email" size="30"><br>
        <input id="login" type="submit" value="Login">
        <p class="formMessage"></p>
      </form>
    </div>
    <!--navigation when logged in-->
    <div class="logoutBlock topNav">
      <a href="/saved" class="viewSaved">Your Saved Articles</a>
      Welcome<span class="userName"></span>. 
      <button class="logout">Log Out</button>
    </div>
    
    {{{ body }}}
    
    <footer>
        &copy; 2017 Jesse Harold
    </footer>

    </div>
  </body>
</html>