<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comment on the News</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/jscookie.js"></script>
  <script src="/js/app.js"></script>
  <link rel="stylesheet" href="/css/styles.css" media="screen" title="main styles for app">
</head>
<body>
    <div class="container">
      <h1>Comment on the News</h1>
      
    <div class="loginBlock topNav">
      <h2>Log In</h2>
      <p>You must be "logged in" (no authentication) to post a comment.</p>
      <form id="login" method="POST" action="/create/user">
        Username:*<br>
        <input type="text" name="username" size="30"><br>
        Email address:*<br>
        <input type="text" name="email" size="30"><br>
        <input id="login" type="submit" value="Login">
        <p class="formMessage"></p>
      </form>
    </div>
    <div class="logoutBlock topNav">
      Welcome<span class="userName"></span>. 
      <button class="logout">Log Out</button>
    </div>
    
      {{{ body }}}
      <footer>
          &copy; 2017 Jesse Harold
      </footer>
      <div id="modal">
        <div class="modal-background"></div>
        <div class="modal-container">
          <div class="modal-close">X</div>
          <h2 class="title"></h2>
          <p class="modal-text"></p>
        </div>
      </div>
    </div>
  </body>
</html>