<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comment on the News</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/app.js"></script>
  <link rel="stylesheet" href="/css/styles.css" media="screen" title="main styles for app">
</head>
<body>
    <div class="container">
      <h1>Comment on the News</h1>
      {{{ body }}}
      <footer>
          &copy; 2017 Jesse Harold
      </footer>
      <div id="modal">
        <div class="modal-background"></div>
        <div class="modal-container">
          <div class="modal-close">X</div>
          <h2 class="title"></h2>
          <p class="modal-text"></p>
        </div>
      </div>
    </div>
  </body>
</html>