
    {{#if siteOptions}}
      <ul class="newsView">
      {{#each siteOptions}}
        <li>
          <h3 class="newsTitle"><a href="news-site/{{this.index}}">{{this.baseUrl}}</a></h3>
          <p>{{this.introText}}</p>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  