
    {{#if siteOptions}}
      <ul class="newsView">
      {{#each siteOptions}}
        <li>
          <h3 class="newsTitle"><a href="news-site/{{this._id}}">{{this.baseUrl}}</a></h3>
          <p>{{this.introText}}</p>
        </li>
      {{/each}}
      </ul>
    {{/if}}
    <h2>Create a New User</h2>
    <p>You must be "logged in" (no authentication) to post a comment.</p>
    <form method="POST" action="create/user">
      <input type="text" name="username" size="30">*
      <input type="text" name="email" size="30">*
        <input type="submit" value="submit">
    </form>
    <h2>Create a New Site</h2>
    <p>Advanced users only.</p>
    <form method="POST" action="create/site">
      <input type="text" name="introText" size="30">
      <input type="text" name="baseUrl" size="30">*
      <input type="text" name="urlToScrape" size="30">*
      <input type="text" name="shortName" size="30">
      <input type="text" name="baseSelector" size="30">*
      <input type="text" name="imageSelector" size="30">
      <input type="text" name="titleSelector" size="30">
      <input type="text" name="linkSelector" size="30">
        <input type="submit" value="submit">
    </form>
  