body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: #c0f188;
    padding: .3em 2em;
}
h3.newsTitle {
    margin-bottom: 0;
}
ul.newsView>li {
    list-style: none;
    margin-bottom: 2em;
    clear: both;
    background-color: black;
    color: white;
    padding: 1em;
    display: block;
}
ul.newsView>li a, ul.newsView>li a:visited, ul.newsView>li a:hover, ul.newsView>li a:active {
    color: #bbb;
}
div.commentsBlock {
    margin: 1.5em;
}
div.commentsBlock>a {
    display: inline-block;
    margin-right: 2em;
    font-size: small;
    text-decoration: underline;
}
div.addComment>h4 {
    margin:0;
    font-size: .9em;
}
img.featureImage {
    max-width: 400px;
    float: right;
    margin: 1em;
    display: block;
}
footer {
    text-align: center;
    margin: 4em 0;
    color: #888;
    font-size: small;
}
#modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#modal .modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
}
#modal .modal-container {
    position: relative;
    background-color: white;
    width: 50%;
    min-height: 200px;
    margin: 5% auto;
    padding: 8px 16px;
    border-radius: 7px;
}
#modal .modal-close {
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 4px;
    top: 4px;
    border: 1px #333 solid;
    width: 23px;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    background-color: #4484CE;
}
div.scroller {    
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 7px 0 0;
}
a.breadcrumb {
    display: block;
    font-size: .8em;
    color: #ccc;
}
#logoutBlock {
    display: none;
}
#loginBlock p.formMessage {
    color: red;
}