body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #333;
    color: #c0f188;
    padding: 3em 2em;
}
h1 {
    font-size: 3.5em;
    font-family: 'Rokkitt', serif;
    margin: 0;
}
h2 {
    font-size: 2.5em;
    font-family: 'Rokkitt', serif;
    margin: 0;
}
h3.newsTitle {
    margin-bottom: 0;
}
button {    
    background-color: white;
    border: 0;
    padding: 3px 4px;
    margin: 0 9px 0 0;
}
ul.newsView > li {
    list-style: none;
    margin-bottom: 2em;
    clear: both;
    background-color: black;
    color: white;
    padding: 1em;
    display: block;
    position: relative;
    border: 1px solid #829960;
}
ul.newsView > li a, ul.newsView > li a:visited, ul.newsView > li a:hover, ul.newsView > li a:active {
    color: #fff;
}
div.commentsBlock {
    margin: 1.5em;
    margin-bottom: 0;
}
div.commentsBlock .seeComments {
    color: #c0f188;
    margin-top: 7px;
    height: 210px;
    border: 1px solid #333;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px;
}
div.commentsBlock > a {
    display: inline-block;
    margin-right: 2em;
    font-size: small;
    text-decoration: underline;
}
div.addComment > h4 {
    margin:0;
    font-size: .9em;
}
div.singleComment {
    font-size: small;
    color: #ccc;
    margin: 8px;
}
div.singleComment .commentTime {
    color: #555;
    margin-top: -4px;
}
div.singleComment .commentAuthor {
    color: #309a96;
}
img.featureImage {
    max-width: 400px;
    float: right;
    margin: 1em;
    display: block;
    width: 90%;
}
footer {
    text-align: center;
    margin: 4em 0;
    color: #888;
    font-size: small;
}
a.breadcrumb {
    display: block;
    font-size: .8em;
    color: #ccc;
}
.logoutBlock {
    display: none;
}
.topNav {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    overflow: hidden;
    height: 50px;
    background: #222;
    padding: 0 20px;
    font-size: small;
    z-index: 100;
}
a.viewSaved {
    display: block;
    float: left;
    margin: 0 17px 0 0;
    background: #9fd848;
    padding: 6px 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
a.removeSaved {
    background-color: #d86c48;
}
ul.newsView a.viewSaved {
    position: absolute;
    top: 0;
    left: -5px;
    top: -5px;
    font-size: small;
    color: black;
    padding: 4px 9px;
}
ul.newsView a.viewSaved:hover, ul.newsView a.viewSaved:active, ul.newsView a.viewSaved:visited {
    color: black;
}
.loginBlock p.formMessage {
    color: red;
}
textarea.logoutBlock {
    max-width: 100%;
}
@media screen and (max-width: 680px) {
    img.featureImage{
        float: none;
        margin: auto;
    }
}